

#about {
  background-color: #FEFBEA;
  padding: 20px;
  margin: 10px;
  border: solid 1px black;
  border-radius: 20px;
}

/* sets the portrait size */
#portrait {
  width: 200px;
}

/* Style for dropdown button */
.dropdown {
  position: relative;
  display: inline-block;
  padding: 10px 20px 10px 20px;
  background-color: linen;
  border: solid;
  border-width: 3px;
  border-color: green;
  color: green;
  font-weight: bold;

}

/* style for dropdown elements inside the main folder */
.dropdownEls {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 20px 25px;
  z-index: 1;
}

/* displays dropdown elements when mouse hovers over main dropdown element */
.dropdown:hover .dropdownEls {
  display: block;
}
